<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/topbar.css">
  </head>
  <body>
    <%- include('topbar') %>
  </body>
</html>