<div class="topbar">
    <h1>Members Only</h1>
    <div class="links">
        <% if (user) { %>
            <span>Welcome, <%= user.firstname %> <%= user.lastname %></span>
            <a href="/join">Join</a>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/signup">Sign Up</a>
            <a href="/login">Login</a>
        <% } %>
    </div>
</div>